<%= link_to 'Add new driver',drivers_new_path %>
<br>


<div class="search_field">
  <div class="container" style=''>
    <div class="client-list">
      <div class="row">
        <div class="col-12" style="padding: 0">
          <div class="form-inline special-form" style="">
            <%= simple_form_for :search, url: root_path, method: :get, enforce_utf8: false, html: {class: 'users-search-form search_box'} do |f| %>
              <%= f.hidden_field :pin, name: :pin, value: params[:pin] if params[:pin].present? %>
              <div class="input-group search_form no-gutters">
                <%= f.input '',
                            required: false,
                            input_html: {
                              value: params[:search],
                              name: :search,
                              class: 'search_input',
                              style: '',
                              placeholder: 'Поиск клиента(ФИО, ИНН, №группы)'
                            } %>
                <div class="input-group-append">
                  <%= f.submit 'Найти', name: nil, class: 'search_btn' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="client-list">
        <% if @drivers.present? %>
          <p class="search-result-count">
            Клиентов найдено: <span><%= @drivers.count %></span>
          </p>
        
        <% elsif params[:search].present? %>
          
            <p class="not-found-title">Клиент не найден!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<table>
  <tr>
    <th>pin</th>
    <th>name</th>
    <th>last_name</th>
    <th>image</th>
    <th>Action</th>
  </tr>
<% @drivers.each do |driver| %>
<tr>
  <td><%= driver.pin %></td>
  <td><%= driver.name %></td>
  <td><%= driver.last_name %></td>
  <% if driver.image.attached? %></td>
  <td><img src="<%= url_for driver.image %>" alt="" width="100px" height="100px" class='ml-1 mr-1'></td>
  <% end %>
  <%#= driver.passport_number %>
  <%#= driver.passport_series %>
  <td><%= link_to 'Show', drivers_show_url(driver) %><br></td>
<% end %>
</tr>
</table>
