<!DOCTYPE html>
<html>
  <head>
    <title>Drivers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <p class="navbar-text float-right">

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.mobile %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><br>
  <% if current_user.admin? %>
    <%= link_to "add new user", users_new_path %>
    <%= link_to "see all users", users_path %>
    <% end %>
<% else %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
  <body>
    <%= yield %>
  </body>
</html>
